backup/
build/
doc/
.vscode/
deps/Glide2/
bin/
.commit*/
C2MenuAttempt/
carnivores_menu_mee/
.summaries/
CarnivoresPort/
Carnivores1/
stubs/
pkg/
tools/
!tools/
tools/*
!tools/release/
!tools/release/make-c2-package.ps1
